<div class="row mt-4 mb-4">
  <div class="col-md-6">
    <a routerLink="/clients" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Clients
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a routerLink="/client/edit/{{ id }}" class="btn btn-dark">
        Edit
      </a>
      <button (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
<!-- <hr> -->
<div *ngIf='client' class="card">
  <div class="card-header text-center">
      <h3>{{ client.firstName }} {{ client.lastName }} </h3>
      <p class="lead"> 
        {{ client.phone}} | {{ client.email}} <br>
        <small>
          {{ client.address }},  {{ client.city }}  {{ client.state }},  {{ client.country }}
        </small>
      </p>
  </div>
  
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item"> xxxxxxxxxx Details of the Client Policy will go here xxxxxxxxx </li>
      <li class="list-group-item"> xxxxxxxxxx Details of the Client Policy will go here xxxxxxxxx</li>
    </ul>
  </div>
</div>