
<div class="card-deck text-center">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <a routerLink="/clients" class="text-light">
                <i class="fa fa-users fa-3x"></i>
                <h5 class="card-title mt-3">Clients</h5>
            </a>
        </div>
    </div>

    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <a routerLink="/" class="text-light">
                <i class="fa fa-building fa-3x"></i>
                <h5 class="card-title text-center mt-3">Vendors</h5>
            </a>
        </div>
    </div>
    
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
                <i class="fa fa-money fa-3x"></i>
            <h5 class="card-title text-center mt-3">Quotation</h5>
        </div>
    </div>    
</div>

<div class="card-deck text-center">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
                <i class="fa fa-file fa-3x"></i>
            <h5 class="card-title text-center mt-3">Policies</h5>
        </div>
    </div>

    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
                <i class="fa fa-clipboard fa-3x"></i>
            <h5 class="card-title text-center mt-3">Claims</h5>
        </div>
    </div>
    
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <a routerLink="/users" class="text-light">
                <i class="fa fa-users fa-3x"></i>
                <h5 class="card-title mt-3">Users</h5>
            </a>
        </div>
    </div>    
</div>


