<div class="row">
    <div class="col-md-6">
      <a routerLink="/clients" class="btn btn-link">
        <i class="fa fa-arrow-circle-o-left"></i> Back to Clients
      </a>
    </div>
    <div class="col-md-6">
  
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      Add Client
    </div>
    <div class="card-body">
      <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input 
            type="text"
            class="form-control"
            name="firstName"
            #clientFirstName="ngModel"
            [ngClass]="{'is-invalid': clientFirstName.errors && clientFirstName.touched}"
            [(ngModel)]="client.firstName"
            minlength="2"
            required
          >
  
          <div [hidden]="!clientFirstName.errors?.required" class="invalid-feedback">
            First name required
          </div>
  
          <div [hidden]="!clientFirstName.errors?.min-length" class="invalid-feedback">
              Must be at least 2 characters
          </div>
        </div>
  
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input 
              type="text"
              class="form-control"
              name="lastName"
              #clientLastName="ngModel"
              [ngClass]="{'is-invalid': clientLastName.errors && clientLastName.touched}"
              [(ngModel)]="client.lastName"
              minlength="2"
              required
            >
    
            <div [hidden]="!clientLastName.errors?.required" class="invalid-feedback">
              Last name required
            </div>
    
            <div [hidden]="!clientLastName.errors?.min-length" class="invalid-feedback">
                Must be at least 2 characters
            </div>
          </div>
  
          <div class="form-group">
              <label for="email">Email</label>
              <input 
                type="text"
                class="form-control"
                name="email"
                #clientEmail="ngModel"
                [ngClass]="{'is-invalid': clientEmail.errors && clientEmail.touched}"
                [(ngModel)]="client.email"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                required
              >
      
              <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
                Email required
              </div>
      
              <div [hidden]="!clientEmail.errors?.pattern" class="invalid-feedback">
                  Email is not valid
              </div>
          </div>
  
          <div class="form-group">
              <label for="phone">Phone</label>
              <input 
                type="text"
                class="form-control"
                name="phone"
                #clientPhone="ngModel"
                [ngClass]="{'is-invalid': clientPhone.errors && clientPhone.touched}"
                [(ngModel)]="client.phone"
                minlength="11"
                required
              >
      
              <div [hidden]="!clientPhone.errors?.required" class="invalid-feedback">
                Phone required
              </div>
      
              <div [hidden]="!clientPhone.errors?.min-length" class="invalid-feedback">
                  Must be at least 11 characters
              </div>
          </div>
  
          <div class="form-group">
              <label for="address">Address</label>
              <input 
                type="text"
                class="form-control"
                name="address"
                #clientAddress="ngModel"
                [ngClass]="{'is-invalid': clientAddress.errors && clientAddress.touched}"
                [(ngModel)]="client.address"
                minlength="2"
                required
              >
      
              <div [hidden]="!clientAddress.errors?.required" class="invalid-feedback">
               Address required
              </div>
      
              <div [hidden]="!clientAddress.errors?.min-length" class="invalid-feedback">
                  Must be at least 2 characters
              </div>
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <input 
                  type="text"
                  class="form-control"
                  name="city"
                  #clientCity="ngModel"
                  [ngClass]="{'is-invalid': clientCity.errors && clientCity.touched}"
                  [(ngModel)]="client.city"
                  minlength="2"
                  required
                >
        
                <div [hidden]="!clientCity.errors?.required" class="invalid-feedback">
                  City required
                </div>
        
                <div [hidden]="!clientCity.errors?.min-length" class="invalid-feedback">
                    Must be at least 2 characters
                </div>
              </div>

              <div class="form-group">
                  <label for="state">State</label>
                  <input 
                    type="text"
                    class="form-control"
                    name="state"
                    #clientState="ngModel"
                    [ngClass]="{'is-invalid': clientState.errors && clientState.touched}"
                    [(ngModel)]="client.state"
                    minlength="2"
                    required
                  >
          
                  <div [hidden]="!clientState.errors?.required" class="invalid-feedback">
                    State required
                  </div>
          
                  <div [hidden]="!clientState.errors?.min-length" class="invalid-feedback">
                      Must be at least 2 characters
                  </div>
                </div>

                <div class="form-group">
                    <label for="country">Country</label>
                    <input 
                      type="text"
                      class="form-control"
                      name="country"
                      #clientCountry="ngModel"
                      [ngClass]="{'is-invalid': clientCountry.errors && clientCountry.touched}"
                      [(ngModel)]="client.country"
                      minlength="2"
                      required
                    >
            
                    <div [hidden]="!clientCountry.errors?.required" class="invalid-feedback">
                      Country required
                    </div>
            
                    <div [hidden]="!clientCountry.errors?.min-length" class="invalid-feedback">
                        Must be at least 2 characters
                    </div>
                  </div>
  
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
      </form>
    </div>
  </div>
  